@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  /* Primary Colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  /* Neutral Colors */
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

body {
  background-color: var(--Very-Light-Gray);
  color: var(--Very-Dark-Blue);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  margin: 0;
}
header {
  padding: 3em 2em;
  text-align: center;
}
header h1 {
  font-weight: 200;
  font-size: 1.65em;
}
header h1 span {
  font-weight: bold;
}
header p {
  color: var(--Grayish-Blue);
}
main {
  padding: 0 2em 3em;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}
.cards-container {
  display: grid;
  gap: 1.5em;
}
.card {
  background-color: white;
  font-size: .9em;
  border-radius: 10px;
  padding: 0 2em;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}
.card img {
  display: block;
  margin: 2em 0 2em auto;
}
.card--1 {
  border-top: 5px solid var(--Cyan);
}
.card--2 {
  border-top: 5px solid var(--Red);
}
.card--3 {
  border-top: 5px solid var(--Orange);
}
.card--4 {
  border-top: 5px solid var(--Blue);
}
.card p {
  color: var(--Grayish-Blue);
}

footer {
  padding: 1em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 1024px) {
}
