@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  /* Colors */
  /* Primary */
  --Desaturated-Dark-Cyan: hsl(180, 29%, 50%);
  /* Neutral */
  --Light-Grayish-Cyan--Background: hsl(180, 52%, 96%);
  --Light-Grayish-Cyan--Filter-Tablets: hsl(180, 31%, 95%);
  --Dark-Grayish-Cyan: hsl(180, 8%, 52%);
  --Very-Dark-Grayish-Cyan: hsl(180, 14%, 20%);
}

body {
  margin: 0;
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  font-size: 15px;
  background-color: var(--Light-Grayish-Cyan--Background);
}

header {
  background-color: var(--Desaturated-Dark-Cyan);
}
header img {
  display: block;
  width: 100%;
}

.container {
  max-width: 375px;
  margin: 0 auto;
}

.filters {
  display: none;
  position: relative;
  padding: 1em;
  margin-top: -4em;
  z-index: 2;
}
.filters--shown {
  display: block;
}
.filters__container {
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter {
  display: inline-block;
  background-color: var(--Light-Grayish-Cyan--Background);
  color: var(--Dark-Grayish-Cyan);
  font-weight: 700;
  border-radius: 5px;
  overflow: hidden;
  margin: 0.5em 0.5em 0.5em 0;
}
.filter__wrapper {
  display: flex;
  align-items: stretch;
}
.filter__label {
  display: inline-block;
  padding: 0.5em;
}
.filter__btn {
  border: none;
  outline: none;
  border-radius: none;
  background-color: var(--Dark-Grayish-Cyan);
  color: white;
  font-weight: 700;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.3s ease;
}
.filter__btn:hover {
  background-color: black;
}
.filters__clear-btn {
  font-weight: 700;
  color: var(--Dark-Grayish-Cyan);
  cursor: pointer;
}
.filters__clear-btn:hover {
  text-decoration: underline;
}

.jobs {
  padding: 3em 1em 1em;
}
.jobs__container {
  display: grid;
  gap: 3em;
}

.job {
  background-color: white;
  padding: 2em 1em 0;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.job--featured {
  border-left: 5px solid var(--Desaturated-Dark-Cyan);
}
.job__logo {
  --size: 64px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) / -2);
}
.job__company {
  font-weight: 700;
  color: var(--Desaturated-Dark-Cyan);
}
.job__new,
.job__featured {
  color: white;
  font-size: 0.9em;
  padding: 0.5em;
  border-radius: 20px;
  text-transform: uppercase;
}
.job__new {
  background-color: var(--Desaturated-Dark-Cyan);
}
.job__featured {
  background-color: var(--Very-Dark-Grayish-Cyan);
}
.job__position {
  font-weight: 700;
  font-size: 1.2em;
}
.job:hover .job__position {
  color: var(--Desaturated-Dark-Cyan);
}
.job__details {
  color: var(--Dark-Grayish-Cyan);
}
.job hr {
  border: 1px solid var(--Dark-Grayish-Cyan);
}
.job__tag {
  display: inline-block;
  background-color: var(--Light-Grayish-Cyan--Background);
  color: var(--Desaturated-Dark-Cyan);
  font-weight: 700;
  padding: 0.5em;
  border-radius: 5px;
  margin: 0.5em 0.5em 0.5em 0;
  cursor: pointer;
  transition: 0.3s ease;
}
.job__tag:hover {
  background-color: var(--Desaturated-Dark-Cyan);
  color: var(--Light-Grayish-Cyan--Background);
}

@media screen and (min-width: 375px) {
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1024px;
  }

  .filters__container {
    padding: 1em 2em;
  }

  .jobs__container {
    display: grid;
    gap: 2em;
  }
  .job {
    padding: 1em 2em;
    display: flex;
    align-items: center;
  }
  .job__logo {
    --size: 96px;
    position: static;
  }
  .job__info {
    flex-grow: 1;
    margin: 0 1.5em;
  }
  .job hr {
    display: none;
  }
  .job__tag {
    margin: 0.5em 1em 0.5em 0;
  }
}
